body {
  background-color: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.flex-container {
  display: flex;
  align-items: center; }

.flex-top {
  align-self: flex-start; }

.flex-bottom {
  align-self: flex-end; }

.text-muted {
  color: #999999; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.pure-g > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  position: relative;
  font-weight: bold;
  padding: .8em 0;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
  top: -3px;
  background: #06AEED;
  box-shadow: 0 3px 0 #0591c5;
  border-bottom: 2px solid #06a3de; }
  .button:hover {
    background: #059cd4;
    box-shadow: 0 4px 1px #059cd4;
    border-bottom: 2px solid #0591c5; }
  .button:active, .button:disabled {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none; }
  .button:disabled {
    background: #c2c2c2;
    box-shadow: 0 4px 1px #c2c2c2;
    border-bottom: 2px solid #bbbbbb; }
  .button.confirmed {
    background: #7fd023;
    box-shadow: 0 4px 1px #7fd023;
    border-bottom: 2px solid #77c321; }
    .button.confirmed:after {
      content: 'to'; }

.button-continue, .button-checkout {
  position: relative;
  font-weight: bold;
  padding: .8em 0;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
  top: -3px;
  background: #f63;
  box-shadow: 0 3px 0 #ff470a;
  border-bottom: 2px solid #ff5b24; }
  .button-continue:hover, .button-checkout:hover {
    background: #ff531a;
    box-shadow: 0 4px 1px #ff531a;
    border-bottom: 2px solid #ff470a; }
  .button-continue:active, .button-continue:disabled, .button-checkout:active, .button-checkout:disabled {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none; }
  .button-continue:disabled, .button-checkout:disabled {
    background: #c2c2c2;
    box-shadow: 0 4px 1px #c2c2c2;
    border-bottom: 2px solid #bbbbbb; }
  .button-continue.confirmed, .button-checkout.confirmed {
    background: #7fd023;
    box-shadow: 0 4px 1px #7fd023;
    border-bottom: 2px solid #77c321; }
    .button-continue.confirmed:after, .button-checkout.confirmed:after {
      content: 'to'; }

section {
  padding: 1em; }

.price {
  font-family: 'Oswald', sans-serif !important;
  font-size: 22px; }
  .price .price-symbol {
    margin-right: 0.2em; }

.price-selected {
  font-size: 25px; }

.overview-itinerary li {
  height: 1.5em;
  line-height: 1.5em; }
.overview-itinerary .itinerary-timing {
  display: inline-block;
  min-width: 45px; }

.circlet, .circlet-link {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 0 5px 0 0;
  border: 4px solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.circlet {
  top: 2px;
  width: 14px;
  border-radius: 50%;
  background-color: #fff;
  height: 14px;
  z-index: 2; }

.circlet-link {
  background-color: gray;
  height: 180%;
  border: 2px solid;
  left: .6em;
  margin-right: 24px; }

.circlet-trenitalia {
  border-color: #006367; }

.circlet-italotreno {
  border-color: #B01E08; }

.offer {
  background: #fff;
  border: 1px solid #cbcbcb;
  margin: 1.5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); }
  .offer .offer-overview .price {
    display: block; }
  .offer .offer-detail {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e5e5e5; }
  .offer.selected .offer-detail {
    height: auto; }

.fare {
  text-align: center;
  display: inline-block; }

.fare-name, .fare-price {
  min-height: 50px;
  line-height: 200%;
  margin: 8px 4px; }

.fare-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.fare-price {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  font-size: 22px;
  margin: 8px 4px;
  cursor: pointer; }
  .fare-price:last-child {
    margin-bottom: 0; }
  .fare-price.selected {
    background-color: #C4F291;
    border-color: #93e736; }
  .fare-price.disabled {
    background-color: transparent;
    pointer-events: none; }

#cart header {
  border-bottom: 1px solid #cbcbcb;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8em;
  padding: 1em; }

#checkout {
  position: relative;
  text-align: right;
  margin: 0 1.5em; }
  #checkout .checkout-price {
    margin-right: 1em; }
  #checkout .button-checkout {
    top: -0.5em;
    padding: 0.8em; }

@media screen and (max-width: 35.5em) {
  #fare-names, .overview-shown-price {
    display: none; } }

/*# sourceMappingURL=main.css.map */
