// vars ///////////////////////////////////////////////////////////////////////////////////////////
$bg-col: #fff;
$fg-col: #333;
$border-col: #cbcbcb;
$selected-price_bg: #C4F291;

$button-select-col: #06AEED;
$button-continue-col: #f63;
$button-disabled-col: #cfcfcf;
$button-confirmed-col: #8CDC31;

$circlet-side: 14px;
$cell-padding: 1em;

$italo-col: #B01E08;
$trenitalia-col: #006367;




// mixins /////////////////////////////////////////////////////////////////////////////////////////
@mixin offer-cell() {
  background: $bg-col;
  border: 1px solid $border-col;
  margin: 1.5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0 ,0.1);
}


@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



@mixin button-fx($color) {
  $bevel-size: 3px;

  position: relative;
  font-weight: bold;
  padding: .8em 0;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
  top: -$bevel-size;
  background: $color;
  box-shadow: 0 $bevel-size 0 darken($color, 8%);
  border-bottom: 2px solid darken($color, 3%);

  &:hover {
    background: darken($color, 5%);
    box-shadow: 0 $bevel-size+1px 1px darken($color, 5%);
    border-bottom: 2px solid darken($color, 8%);
  }

  &:active, &:disabled {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
  }

  &:disabled {
    background: darken($button-disabled-col, 5%);
    box-shadow: 0 $bevel-size+1px 1px darken($button-disabled-col, 5%);
    border-bottom: 2px solid darken($button-disabled-col, 8%);
  }

  &.confirmed {
    background: darken($button-confirmed-col, 5%);
    box-shadow: 0 $bevel-size+1px 1px darken($button-confirmed-col, 5%);
    border-bottom: 2px solid darken($button-confirmed-col, 8%);

    &:after {
      content: 'to';
    }
  }
}




// common /////////////////////////////////////////////////////////////////////////////////////////
body {
  background-color: $bg-col;
  color: $fg-col;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.flex-container {
  display: flex;
  align-items: center;
}

.flex-top {
  align-self: flex-start;
}

.flex-bottom {
  align-self: flex-end;
}

.text-muted {
  color: lighten($fg-col, 40%);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}



html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pure-g > section {
  @include border-box();
}





// wanderio ui ////////////////////////////////////////////////////////////////////////////////////

.button {
  @include button-fx($button-select-col);
}


.button-continue, .button-checkout {
  @include button-fx($button-continue-col);
}


section {
  padding: $cell-padding;
}


.price {
  font-family: 'Oswald', sans-serif !important;
  font-size: 22px;

  .price-symbol {
    margin-right: 0.2em;
  }
}

.price-selected {
  font-size: 25px;
}


.overview-itinerary {
  li {
    height: 1.5em;
    line-height: 1.5em;
  }
  .itinerary-timing {
    display: inline-block;
    min-width: 45px;
  }
}







.circlet, .circlet-link {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 0 5px 0 0;
  border: 4px solid;
  @include border-box();
}

.circlet {
  top: 2px;
  width: $circlet-side;
  border-radius: 50%;
  background-color: $bg-col;
  height: $circlet-side;
  z-index: 2;
}

.circlet-link {
  background-color: gray;
  height: 180%;
  border: 2px solid;
  left: .6em;
  margin-right: $circlet-side/2 + 17px;
}

.circlet-trenitalia {
  border-color: $trenitalia-col;
}

.circlet-italotreno {
  border-color: $italo-col;
}








.offer {
  @include offer-cell();

  .offer-overview {
    .price {
      display: block;
    }
  }

  .offer-detail {
    height: 0;
    overflow: hidden;
    border-top: 1px solid lighten($border-col, 10%);
  }

  &.selected {
    .offer-detail {
      height: auto;
    }
  }

}



.fare {
  text-align: center;
  display: inline-block;
}


.fare-name, .fare-price {
  min-height: 50px;
  line-height: 200%;
  margin: 8px 4px;
}

.fare-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fare-price {
  background: lighten($border-col, 15%);
  border: 1px solid lighten($border-col, 10%);
  font-size: 22px;
  margin: 8px 4px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &.selected {
    background-color: $selected-price_bg;
    border-color: darken($selected-price_bg, 20%);
  }

  &.disabled {
    background-color: transparent;
    pointer-events: none;
  }

}

#cart {
  header {
    border-bottom: 1px solid $border-col;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8em;
    padding: $cell-padding;
  }
}


#checkout {
  position: relative;
  text-align: right;
  margin: 0 1.5em;

  .checkout-price {
    margin-right: 1em;
  }

  .button-checkout {
    top: -0.5em;
    padding: .8em
  }
}



@media screen and (max-width: 35.5em) {
  #fare-names, .overview-shown-price {
    display: none;
  }
}