<section>
    <ul class="overview-itinerary">
        <li>
            <strong class="itinerary-timing" ng-bind="offer.departureTime | date: 'HH:m'"></strong>
            <div class="circlet" ng-class="'circlet-' + offer.agency"></div>
            <strong ng-bind="offer.from"></strong>
        </li>
        <li class="flex-container">
            <small class="itinerary-timing text-muted" ng-bind="offer.duration | time:'mm':'hhh mmm':false"></small>
            <div class="circlet-link" ng-class="'circlet-' + offer.agency"></div>
            <small class="text-muted" ng-bind="offer.category + ' ' + offer.number"></small>
        </li>
        <li>
            <strong class="itinerary-timing" ng-bind="offer.arrivalTime | date: 'HH:m'"></strong>
            <div class="circlet" ng-class="'circlet-' + offer.agency"></div>
            <strong ng-bind="offer.to"></strong>
        </li>
    </ul>
</section>