<li class="offer" ng-repeat="offer in offers | orderBy: 'departureTime'" ng-init="offerIndex = $index; selectCheapest($index)">

    <div class="offer-overview flex-container pure-g">

        <section class="pure-u-1 pure-u-lg-1-5">
            <offer-logo offer="offer"></offer-logo>
        </section>


        <offer-itinerary offer="offer" class="pure-u-1 pure-u-sm-3-5 pure-u-md-3-5 pure-u-lg-2-5"></offer-itinerary>

        <section class="overview-shown-price pure-u-1 pure-u-sm-2-5 pure-u-lg-1-5 text-center">
            <money price="offer.classes[offer.selectedOffer.class].fares[offer.selectedOffer.fare].price"></money>
            <small class="text-muted">per adulto</small>
        </section>

        <section class="pure-u-1 pure-u-lg-1-5 pure-g">
            <button class="button select-button pure-u-1" ng-click="expandOffer($event)">Seleziona</button>
        </section>

    </div>




    <div class="offer-detail flex-container pure-g">

        <section id="fare-names" class="pure-u-1-5">
            <div class="fare-name text-right" ng-repeat="fare in offer.classes[0].fares" ng-bind="fare.name"></div>
        </section>

        <section id="fares" class="pure-u-1 pure-u-sm-4-5 pure-u-md-4-5 pure-u-lg-3-5 pure-g">

            <div class="fare class-name pure-u-1-4" ng-repeat="class in offer.classes" ng-init="classIndex = $index">
                <div ng-bind="class.name"></div>
                <div class="fare-price" ng-repeat="fare in class.fares" ng-init="fareIndex = $index" ng-class="{disabled: !fare.price.amount, selected: classIndex == offer.selectedOffer.class && fareIndex == offer.selectedOffer.fare}" ng-click="userSelectFare(offerIndex, classIndex, fareIndex)">
                    <money price="fare.price"></money>
                </div>
            </div>

        </section>

        <section class="pure-u-1 pure-u-lg-1-5 pure-g flex-bottom">
            <button class="button button-continue pure-u-1" ng-click="addToCart(offer, $event)">Continua</button>
        </section>


    </div>



</li>